In [1]:
import pandas as pd

In [2]:
# Import data
obesity = pd.read_csv('../data/obesity_list.csv')
obesity

     country  perc_obesity        bounds
0  Argentina          21.5  [15.4, 31.5]
1    Germany          22.3  [16.2, 32.4]
2      Japan           2.5    [1.1, 3.5]
3     Norway          23.0  [13.1, 33.0]

In [14]:
index = pd.MultiIndex.from_arrays([['Argentina','Argentina','Argentina','Argentina','Japan','Japan','Japan','Japan','Norway','Norway','Norway','Norway'],['Male','Female','Male','Female','Male','Female','Male','Female','Male','Female','Male','Female'],[2005,2005,2015,2015,2005,2005,2015,2015,2005,2005,2015,2015]],names=['country','biological_sex','year'])
columns = ['perc_obesity']
data = [21.5,24.2,26.8,28.5,2.5,2.6,4.6,3.6,17.6,18.6,23.0,22.2]

obesity = pd.DataFrame(data, index=index, columns=columns)
obesity

                               perc_obesity
country   biological_sex year
Argentina Male           2005          21.5
          Female         2005          24.2
          Male           2015          26.8
          Female         2015          28.5
Japan     Male           2005           2.5
          Female         2005           2.6
          Male           2015           4.6
          Female         2015           3.6
Norway    Male           2005          17.6
          Female         2005          18.6
          Male           2015          23.0
          Female         2015          22.2

In [4]:
# Unstack the first level and calculate the mean of the columns
obesity_general = obesity.unstack(level=0).mean(axis=1)

# Print obesity_general
print(obesity_general)

biological_sex  year
Female          2005    15.133333
                2015    18.100000
Male            2005    13.866667
                2015    18.133333
dtype: float64

In [8]:
# Unstack the second level and calculate the mean of the columns
obesity_mean = obesity.unstack(level=1).mean(axis=1)

# Print obesity_mean
print(obesity_mean)

country    year
Argentina  2005    22.85
           2015    27.65
Japan      2005     2.55
           2015     4.10
Norway     2005    18.10
           2015    22.60
dtype: float64

In [15]:
# Unstack the third level and calculate the difference between columns
obesity_variation = obesity.unstack(level=2).diff(axis=1)

# Print obesity_variation
print(obesity_variation)

                         perc_obesity
year                             2005 2015
country   biological_sex
Argentina Female                  NaN  4.3
          Male                    NaN  5.3
Japan     Female                  NaN  1.0
          Male                    NaN  2.1
Norway    Female                  NaN  3.6
          Male                    NaN  5.4

In [22]:
index = pd.MultiIndex.from_arrays([['France','France','Germany','Germany'],['Female','Male','Female','Male']],names=['country','biological_sex'])
columns = pd.MultiIndex.from_arrays([[1995,1995,2005,2005,2015,2015],['perc_obesity','variation','perc_obesity','variation','perc_obesity','variation']], names=['year',''])
data = [[15.3,7.7,18.1,8.2,20.8,11.3],[12.8,7.6,16.9, 8.4,21.5,11.8],[14.4,4.6,17.2, 5.2,20.1,8.4],[14.4,5.1,18.7,5.9,23.6,9.8]]

obesity = pd.DataFrame(data, index=index, columns=columns)
obesity

year                           1995                   2005            \
                       perc_obesity variation perc_obesity variation
country biological_sex
France  Female                 15.3       7.7         18.1       8.2
        Male                   12.8       7.6         16.9       8.4
Germany Female                 14.4       4.6         17.2       5.2
        Male                   14.4       5.1         18.7       5.9

year                           2015
                       perc_obesity variation
country biological_sex
France  Female                 20.8      11.3
        Male                   21.5      11.8
Germany Female                 20.1       8.4
        Male                   23.6       9.8

In [21]:
# Stack obesity, get median of columns and unstack again
median_obesity = obesity.stack(future_stack=True).median(axis=1).unstack()

# Print median_obesity
print(median_obesity)

                        perc_obesity  variation
country biological_sex
France  Female                  18.1        8.2
        Male                    16.9        8.4
Germany Female                  17.2        5.2
        Male                    18.7        5.9

In [23]:
# Stack the first level, get sum, and unstack the second level
obesity_sum = obesity.stack(level=0, future_stack=True).sum(axis=1).unstack(level=1)

# Print obesity_max
print(obesity_sum)

biological_sex  Female  Male
country year
France  1995      23.0  20.4
        2005      26.3  25.3
        2015      32.1  33.3
Germany 1995      19.0  19.5
        2005      22.4  24.6
        2015      28.5  33.4

In [25]:
index = pd.MultiIndex.from_arrays([[1995,1995,2005,2005,2015,2015],['Female','Male','Female','Male','Female','Male']],names=['year','biological_sex'])
columns = pd.MultiIndex.from_arrays([['perc_obesity','perc_obesity','perc_obesity'],['Argentina','Brazil','France']], names=['','country'])
data = [[20.2,15.3,15.3],[16.8,8.9,12.8],[24.2,20.1,18.1],[21.5,13.2,16.9],[28.5,24.9,20.8],[26.8,18.0,21.5]]

obesity = pd.DataFrame(data, index=index, columns=columns)
obesity

                    perc_obesity
country                Argentina Brazil France
year biological_sex
1995 Female                 20.2   15.3   15.3
     Male                   16.8    8.9   12.8
2005 Female                 24.2   20.1   18.1
     Male                   21.5   13.2   16.9
2015 Female                 28.5   24.9   20.8
     Male                   26.8   18.0   21.5