In [1]:
import pandas as pd

## Reshaping using transpose method

In [10]:
# import data
players = pd.read_csv('../data/players_20.csv')
fifa_players = players[['short_name','age', 'height_cm', 'weight_kg', 'nationality', 'club']]

# rename columns
fifa_players = fifa_players.rename(columns={'short_name':'name', 'height_cm':'height', 'weight_kg':'weight'})
fifa_players

,name,age,height,weight,nationality,club
0,L. Messi,32,170,72,Argentina,FC Barcelona
1,Cristiano Ronaldo,34,187,83,Portugal,Juventus
2,Neymar Jr,27,175,68,Brazil,Paris Saint-Germain
3,J. Oblak,26,188,87,Slovenia,Atlético Madrid
4,E. Hazard,28,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...
18273,Shao Shuai,22,186,79,China PR,Beijing Renhe FC
18274,Xiao Mingjie,22,177,66,China PR,Shanghai SIPG FC
18275,Zhang Wei,19,186,75,China PR,Hebei China Fortune FC
18276,Wang Haijian,18,185,74,China PR,Shanghai Greenland Shenhua FC
18277,Pan Ximing,26,182,78,China PR,Hebei China Fortune FC

In [15]:
# Set name as index
fifa_transpose = fifa_players.set_index('name')
# Print fifa_transpose
#print(fifa_transpose)

# Modify the DataFrame to keep only height and weight columns and then transpose
fifa_transpose = fifa_players.set_index('name')[['height','weight']].transpose()

# Print fifa_transpose
print(fifa_transpose.shape)

(2, 18278)

## Reshaping using Pivot Method

In [30]:
fifa_players1 = pd.DataFrame({
    'name': ['L. Messi', 'Cristiano Ronaldo', 'L. Messi', 'Cristiano Ronaldo','L. Messi', 'Cristiano Ronaldo'],
    'movement':['shooting','shooting','passing','passing','dribbling','dribbling'],
    'overall': [92,93,92,82,96,89],
    'attacking':[70,89,92,83,88,84]
})
# Pivot fifa_players to get overall scores indexed by name and identified by movement
fifa_overall = fifa_players1.pivot(index='name', columns='movement', values='overall')

# Print fifa_overall
print(fifa_overall)

#Pivot fifa_players to get a DataFrame with attacking scores indexed by name, and identified by movement in the columns.
fifa_attacking = fifa_players1.pivot(index='name', columns='movement', values='attacking')

# Print fifa_attacking
print(fifa_attacking)

#Use .pivot() on fifa_players to get overall scores indexed by movement, and identified by name in the columns.
fifa_names = fifa_players1.pivot(index='movement', columns='name', values='overall')

# Print fifa_names
print(fifa_names)

#Pivot fifa_players to get overall and attacking scores indexed by name, and identified by movement in the columns.
fifa_over_attack = fifa_players1.pivot(index='name', columns='movement', values=['overall','attacking'])

# Print fifa_names
print(fifa_over_attack)

movement           dribbling  passing  shooting
name
Cristiano Ronaldo         89       82        93
L. Messi                  96       92        92
movement           dribbling  passing  shooting
name
Cristiano Ronaldo         84       83        89
L. Messi                  88       92        70
name       Cristiano Ronaldo  L. Messi
movement
dribbling                 89        96
passing                   82        92
shooting                  93        92
                    overall                  attacking
movement          dribbling passing shooting dribbling passing shooting
name
Cristiano Ronaldo        89      82       93        84      83       89
L. Messi                 96      92       92        88      92       70

## Pivot Tables

In [38]:
fifa_players2 = pd.DataFrame({
    'name': ['L. Messi', 'Cristiano Ronaldo', 'L. Messi', 'Cristiano Ronaldo','L. Messi', 'Cristiano Ronaldo','L. Messi'],
    'movement':['shooting','shooting','passing','passing','dribbling','dribbling','dribbling'],
    'overall': [92,93,92,82,96,89,88],
    'attacking':[70,89,92,83,88,84,97]
})
# Discard the fifth row to delete all repeated rows
fifa_drop = fifa_players2.drop(4, axis=0)

# Use pivot method to get all scores by name and movement
fifa_pivot = fifa_drop.pivot(index='name', columns='movement', values=['overall','attacking']) 

# Print fifa_pivot
print(fifa_pivot)  
# Use pivot table to get all scores by name and movement
fifa_pivot_table = fifa_players2.pivot_table(index='name', 
                                     columns='movement', 
                                     aggfunc='mean')
# Print fifa_pivot_table
print(fifa_pivot_table)

                    overall                  attacking
movement          dribbling passing shooting dribbling passing shooting
name
Cristiano Ronaldo        89      82       93        84      83       89
L. Messi                 88      92       92        97      92       70
                  attacking                    overall
movement          dribbling passing shooting dribbling passing shooting
name
Cristiano Ronaldo      84.0    83.0     89.0      89.0    82.0     93.0
L. Messi               92.5    92.0     70.0      92.0    92.0     92.0

In [52]:
#list(players.columns)
fifa_players3 = players[['short_name','age','height_cm','weight_kg','nationality','club']]
fifa_players3 = fifa_players3.rename(columns={'short_name':'name','height_cm':'height','weight_kg':'weight'})

# Use pivot table to display mean age of players by club and nationality 
mean_age_fifa = fifa_players3.pivot_table(index='nationality', 
                                  columns='club', 
                                  values='age', 
                                  aggfunc='mean')

# Print mean_age_fifa
x= mean_age_fifa[['FC Barcelona','Real Madrid','Liverpool']].dropna(axis=0)
#x = x.dropna(axis=0)
print(x)

# Use pivot table to display max height of any player by club and nationality
tall_players_fifa = players.pivot_table(index='nationality',  
                                     columns='club',  
                                      values='height_cm', 
                                      aggfunc='max')

# Print tall_players_fifa
print(tall_players_fifa)


# Use pivot table to show the count of players by club and nationality and the total count
players_country = players.pivot_table(index='nationality',  
                                     columns='club',  
                                      values='short_name', 
                                      aggfunc='count', margins=True)

# Print players_country
print(players_country)

club         FC Barcelona  Real Madrid  Liverpool
nationality
Brazil          25.666667    23.500000       26.0
Croatia         31.000000    33.000000       29.0
Germany         27.000000    29.000000       18.0
Spain           22.600000    23.923077       27.0
club                SSV Jahn Regensburg  1. FC Heidenheim 1846  \
nationality
Afghanistan                         NaN                    NaN
Albania                             NaN                    NaN
Algeria                             NaN                    NaN
Angola                              NaN                    NaN
Antigua & Barbuda                   NaN                    NaN
...                                 ...                    ...
Venezuela                           NaN                    NaN
Vietnam                             NaN                    NaN
Wales                               NaN                    NaN
Zambia                              NaN                    NaN
Zimbabwe                            NaN                    NaN

club               1. FC Kaiserslautern  1. FC Köln  1. FC Magdeburg  \
nationality
Afghanistan                         NaN         NaN              NaN
Albania                             NaN         NaN            189.0
Algeria                             NaN         NaN              NaN
Angola                            186.0         NaN              NaN
Antigua & Barbuda                   NaN         NaN              NaN
...                                 ...         ...              ...
Venezuela                           NaN         NaN              NaN
Vietnam                             NaN         NaN              NaN
Wales                               NaN         NaN              NaN
Zambia                              NaN         NaN              NaN
Zimbabwe                            NaN         NaN              NaN

club               1. FC Nürnberg  1. FC Union Berlin  1. FSV Mainz 05  \
nationality
Afghanistan                   NaN                 NaN              NaN
Albania                       NaN                 NaN              NaN
Algeria                       NaN                 NaN              NaN
Angola                        NaN                 NaN              NaN
Antigua & Barbuda             NaN                 NaN              NaN
...                           ...                 ...              ...
Venezuela                     NaN                 NaN              NaN
Vietnam                       NaN                 NaN              NaN
Wales                         NaN                 NaN              NaN
Zambia                        NaN                 NaN              NaN
Zimbabwe                      NaN                 NaN              NaN

club               AC Ajaccio  AC Horsens  ...  Wolverhampton Wanderers  \
nationality                                ...
Afghanistan               NaN         NaN  ...                      NaN
Albania                 180.0         NaN  ...                      NaN
Algeria                   NaN         NaN  ...                      NaN
Angola                    NaN         NaN  ...                      NaN
Antigua & Barbuda         NaN         NaN  ...                      NaN
...                       ...         ...  ...                      ...
Venezuela                 NaN         NaN  ...                      NaN
Vietnam                   NaN         NaN  ...                      NaN
Wales                     NaN         NaN  ...                      NaN
Zambia                    NaN         NaN  ...                      NaN
Zimbabwe                  NaN         NaN  ...                      NaN

club               Wuhan Zall  Wycombe Wanderers  Yeni Malatyaspor  \
nationality
Afghanistan               NaN                NaN               NaN
Albania                   NaN                NaN               NaN
Algeria                   NaN                NaN               NaN
Angola                    NaN                NaN               NaN
Antigua & Barbuda         NaN              180.0               NaN
...                       ...                ...               ...
Venezuela                 NaN                NaN               NaN
Vietnam                   NaN                NaN               NaN
Wales                     NaN              183.0               NaN
Zambia                    NaN                NaN               NaN
Zimbabwe                  NaN                NaN             180.0

club               Yokohama F. Marinos  Zagłębie Lubin  Çaykur Rizespor  \
nationality
Afghanistan                        NaN             NaN              NaN
Albania                            NaN             NaN              NaN
Algeria                            NaN             NaN              NaN
Angola                             NaN             NaN              NaN
Antigua & Barbuda                  NaN             NaN              NaN
...                                ...             ...              ...
Venezuela                          NaN             NaN              NaN
Vietnam                            NaN             NaN              NaN
Wales                              NaN             NaN              NaN
Zambia                             NaN             NaN              NaN
Zimbabwe                           NaN             NaN              NaN

club               Örebro SK  Östersunds FK  Śląsk Wrocław
nationality
Afghanistan              NaN            NaN            NaN
Albania                184.0            NaN            NaN
Algeria                  NaN            NaN            NaN
Angola                   NaN            NaN            NaN
Antigua & Barbuda        NaN            NaN            NaN
...                      ...            ...            ...
Venezuela                NaN            NaN            NaN
Vietnam                  NaN            NaN            NaN
Wales                    NaN            NaN            NaN
Zambia                   NaN            NaN            NaN
Zimbabwe                 NaN            NaN            NaN

[162 rows x 698 columns]
club                SSV Jahn Regensburg  1. FC Heidenheim 1846  \
nationality
Afghanistan                         NaN                    NaN
Albania                             NaN                    NaN
Algeria                             NaN                    NaN
Angola                              NaN                    NaN
Antigua & Barbuda                   NaN                    NaN
...                                 ...                    ...
Vietnam                             NaN                    NaN
Wales                               NaN                    NaN
Zambia                              NaN                    NaN
Zimbabwe                            NaN                    NaN
All                                25.0                   29.0

club               1. FC Kaiserslautern  1. FC Köln  1. FC Magdeburg  \
nationality
Afghanistan                         NaN         NaN              NaN
Albania                             NaN         NaN              1.0
Algeria                             NaN         NaN              NaN
Angola                              1.0         NaN              NaN
Antigua & Barbuda                   NaN         NaN              NaN
...                                 ...         ...              ...
Vietnam                             NaN         NaN              NaN
Wales                               NaN         NaN              NaN
Zambia                              NaN         NaN              NaN
Zimbabwe                            NaN         NaN              NaN
All                                28.0        31.0             24.0

club               1. FC Nürnberg  1. FC Union Berlin  1. FSV Mainz 05  \
nationality
Afghanistan                   NaN                 NaN              NaN
Albania                       NaN                 NaN              NaN
Algeria                       NaN                 NaN              NaN
Angola                        NaN                 NaN              NaN
Antigua & Barbuda             NaN                 NaN              NaN
...                           ...                 ...              ...
Vietnam                       NaN                 NaN              NaN
Wales                         NaN                 NaN              NaN
Zambia                        NaN                 NaN              NaN
Zimbabwe                      NaN                 NaN              NaN
All                          30.0                33.0             33.0

club               AC Ajaccio  AC Horsens  ...  Wuhan Zall  Wycombe Wanderers  \
nationality                                ...
Afghanistan               NaN         NaN  ...         NaN                NaN
Albania                   1.0         NaN  ...         NaN                NaN
Algeria                   NaN         NaN  ...         NaN                NaN
Angola                    NaN         NaN  ...         NaN                NaN
Antigua & Barbuda         NaN         NaN  ...         NaN                1.0
...                       ...         ...  ...         ...                ...
Vietnam                   NaN         NaN  ...         NaN                NaN
Wales                     NaN         NaN  ...         NaN                2.0
Zambia                    NaN         NaN  ...         NaN                NaN
Zimbabwe                  NaN         NaN  ...         NaN                NaN
All                      24.0        21.0  ...        28.0               24.0

club               Yeni Malatyaspor  Yokohama F. Marinos  Zagłębie Lubin  \
nationality
Afghanistan                     NaN                  NaN             NaN
Albania                         NaN                  NaN             NaN
Algeria                         NaN                  NaN             NaN
Angola                          NaN                  NaN             NaN
Antigua & Barbuda               NaN                  NaN             NaN
...                             ...                  ...             ...
Vietnam                         NaN                  NaN             NaN
Wales                           NaN                  NaN             NaN
Zambia                          NaN                  NaN             NaN
Zimbabwe                        1.0                  NaN             NaN
All                            28.0                 27.0            25.0

club               Çaykur Rizespor  Örebro SK  Östersunds FK  Śląsk Wrocław  \
nationality
Afghanistan                    NaN        NaN            NaN            NaN
Albania                        NaN        1.0            NaN            NaN
Algeria                        NaN        NaN            NaN            NaN
Angola                         NaN        NaN            NaN            NaN
Antigua & Barbuda              NaN        NaN            NaN            NaN
...                            ...        ...            ...            ...
Vietnam                        NaN        NaN            NaN            NaN
Wales                          NaN        NaN            NaN            NaN
Zambia                         NaN        NaN            NaN            NaN
Zimbabwe                       NaN        NaN            NaN            NaN
All                           23.0       27.0           27.0            1.0

club                 All
nationality
Afghanistan            2
Albania               43
Algeria               50
Angola                16
Antigua & Barbuda      7
...                  ...
Vietnam                1
Wales                117
Zambia                10
Zimbabwe              12
All                18278

[163 rows x 699 columns]