In [137]:
import pandas as pd

In [138]:
# import data
data = pd.read_csv('../data/books.csv')

## Reshaping with Melt

In [139]:
books_gothic = data[['title','authors','  num_pages','ratings_count','average_rating','publisher']]
books_gothic = books_gothic.rename(columns={'  num_pages':'num_pages','ratings_count':'rating_count','average_rating':'rating'})
books_gothic
# Melt books_gothic using the title column as identifier 
gothic_melted = books_gothic.melt(id_vars='title')

# Print gothic_melted
#print(gothic_melted)


# Melt books_gothic using the title, authors, and publisher columns as identifier
gothic_melted_new =  books_gothic.melt(id_vars=['title','authors','publisher'])

# Print gothic_melted_new
gothic_melted_new

,title,authors,publisher,variable,value
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling/Mary GrandPré,Scholastic Inc.,num_pages,652.00
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling/Mary GrandPré,Scholastic Inc.,num_pages,870.00
2,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,Scholastic,num_pages,352.00
3,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling/Mary GrandPré,Scholastic Inc.,num_pages,435.00
4,Harry Potter Boxed Set Books 1-5 (Harry Potte...,J.K. Rowling/Mary GrandPré,Scholastic,num_pages,2690.00
...,...,...,...,...,...
33376,Expelled from Eden: A William T. Vollmann Reader,William T. Vollmann/Larry McCaffery/Michael He...,Da Capo Press,rating,4.06
33377,You Bright and Risen Angels,William T. Vollmann,Penguin Books,rating,4.08
33378,The Ice-Shirt (Seven Dreams #1),William T. Vollmann,Penguin Books,rating,3.96
33379,Poor People,William T. Vollmann,Ecco,rating,3.72
33380,Las aventuras de Tom Sawyer,Mark Twain,Edimat Libros,rating,3.91

In [25]:
# Melt publisher column using title and authors as identifiers
publisher_melted = books_gothic.melt(id_vars=['title', 'authors'], 
                                     value_vars='publisher')

# Print publisher_melted
print(publisher_melted)

                                                   title  \
0      Harry Potter and the Half-Blood Prince (Harry ...
1      Harry Potter and the Order of the Phoenix (Har...
2      Harry Potter and the Chamber of Secrets (Harry...
3      Harry Potter and the Prisoner of Azkaban (Harr...
4      Harry Potter Boxed Set  Books 1-5 (Harry Potte...
...                                                  ...
11122   Expelled from Eden: A William T. Vollmann Reader
11123                        You Bright and Risen Angels
11124                    The Ice-Shirt (Seven Dreams #1)
11125                                        Poor People
11126                        Las aventuras de Tom Sawyer

                                                 authors   variable  \
0                             J.K. Rowling/Mary GrandPré  publisher
1                             J.K. Rowling/Mary GrandPré  publisher
2                                           J.K. Rowling  publisher
3                             J.K. Rowling/Mary GrandPré  publisher
4                             J.K. Rowling/Mary GrandPré  publisher
...                                                  ...        ...
11122  William T. Vollmann/Larry McCaffery/Michael He...  publisher
11123                                William T. Vollmann  publisher
11124                                William T. Vollmann  publisher
11125                                William T. Vollmann  publisher
11126                                         Mark Twain  publisher

                 value
0      Scholastic Inc.
1      Scholastic Inc.
2           Scholastic
3      Scholastic Inc.
4           Scholastic
...                ...
11122    Da Capo Press
11123    Penguin Books
11124    Penguin Books
11125             Ecco
11126    Edimat Libros

[11127 rows x 4 columns]

In [26]:
# Melt rating and rating_count columns using the title as identifier
rating_melted = books_gothic.melt(id_vars='title', 
                                  value_vars=['rating', 'rating_count'])

# Print rating_melted
rating_melted

                                                   title      variable   value
0      Harry Potter and the Half-Blood Prince (Harry ...        rating    4.57
1      Harry Potter and the Order of the Phoenix (Har...        rating    4.49
2      Harry Potter and the Chamber of Secrets (Harry...        rating    4.42
3      Harry Potter and the Prisoner of Azkaban (Harr...        rating    4.56
4      Harry Potter Boxed Set  Books 1-5 (Harry Potte...        rating    4.78
...                                                  ...           ...     ...
22249   Expelled from Eden: A William T. Vollmann Reader  rating_count  156.00
22250                        You Bright and Risen Angels  rating_count  783.00
22251                    The Ice-Shirt (Seven Dreams #1)  rating_count  820.00
22252                                        Poor People  rating_count  769.00
22253                        Las aventuras de Tom Sawyer  rating_count  113.00

[22254 rows x 3 columns]

In [27]:
# Melt rating and rating_count columns using title and authors as identifier
books_melted = books_gothic.melt(id_vars=['title', 'authors'], 
                                 value_vars=['rating', 'rating_count'])

# Print books_melted
print(books_melted)

                                                   title  \
0      Harry Potter and the Half-Blood Prince (Harry ...
1      Harry Potter and the Order of the Phoenix (Har...
2      Harry Potter and the Chamber of Secrets (Harry...
3      Harry Potter and the Prisoner of Azkaban (Harr...
4      Harry Potter Boxed Set  Books 1-5 (Harry Potte...
...                                                  ...
22249   Expelled from Eden: A William T. Vollmann Reader
22250                        You Bright and Risen Angels
22251                    The Ice-Shirt (Seven Dreams #1)
22252                                        Poor People
22253                        Las aventuras de Tom Sawyer

                                                 authors      variable   value
0                             J.K. Rowling/Mary GrandPré        rating    4.57
1                             J.K. Rowling/Mary GrandPré        rating    4.49
2                                           J.K. Rowling        rating    4.42
3                             J.K. Rowling/Mary GrandPré        rating    4.56
4                             J.K. Rowling/Mary GrandPré        rating    4.78
...                                                  ...           ...     ...
22249  William T. Vollmann/Larry McCaffery/Michael He...  rating_count  156.00
22250                                William T. Vollmann  rating_count  783.00
22251                                William T. Vollmann  rating_count  820.00
22252                                William T. Vollmann  rating_count  769.00
22253                                         Mark Twain  rating_count  113.00

[22254 rows x 4 columns]

In [28]:
# Assign the name number to the new column containing the values
books_ratings = books_gothic.melt(id_vars=['title', 'authors', 'publisher'], 
                                  value_vars=['rating', 'rating_count'], 
                                  var_name='feature', 
                                  value_name='number')

# Print books_ratings
print(books_ratings)

                                                   title  \
0      Harry Potter and the Half-Blood Prince (Harry ...
1      Harry Potter and the Order of the Phoenix (Har...
2      Harry Potter and the Chamber of Secrets (Harry...
3      Harry Potter and the Prisoner of Azkaban (Harr...
4      Harry Potter Boxed Set  Books 1-5 (Harry Potte...
...                                                  ...
22249   Expelled from Eden: A William T. Vollmann Reader
22250                        You Bright and Risen Angels
22251                    The Ice-Shirt (Seven Dreams #1)
22252                                        Poor People
22253                        Las aventuras de Tom Sawyer

                                                 authors        publisher  \
0                             J.K. Rowling/Mary GrandPré  Scholastic Inc.
1                             J.K. Rowling/Mary GrandPré  Scholastic Inc.
2                                           J.K. Rowling       Scholastic
3                             J.K. Rowling/Mary GrandPré  Scholastic Inc.
4                             J.K. Rowling/Mary GrandPré       Scholastic
...                                                  ...              ...
22249  William T. Vollmann/Larry McCaffery/Michael He...    Da Capo Press
22250                                William T. Vollmann    Penguin Books
22251                                William T. Vollmann    Penguin Books
22252                                William T. Vollmann             Ecco
22253                                         Mark Twain    Edimat Libros

            feature  number
0            rating    4.57
1            rating    4.49
2            rating    4.42
3            rating    4.56
4            rating    4.78
...             ...     ...
22249  rating_count  156.00
22250  rating_count  783.00
22251  rating_count  820.00
22252  rating_count  769.00
22253  rating_count  113.00

[22254 rows x 5 columns]

## Wide to long Function

In [30]:
golden_age = pd.DataFrame({
    'title': ['The Great Gatsby','The Short Stories','To the Lighthouse'],
    'authors': ['F. Scott Fitzgerald','Ernest Hemingway','Virginia Woolf'],
    'isbn13': ['9780060098919','9780684837864','9780156030472'],
    'isbn10': ['1572702567','684837862','156030470'],
    'prefix13': [978,978,978],
    'prefix10': [1,0,0]
})

golden_age

,title,authors,isbn13,isbn10,prefix13,prefix10
0,The Great Gatsby,F. Scott Fitzgerald,9780060098919,1572702567,978,1
1,The Short Stories,Ernest Hemingway,9780684837864,684837862,978,0
2,To the Lighthouse,Virginia Woolf,9780156030472,156030470,978,0

In [ ]:
# alternate way to subset the data
isbn13 =  [9780060098919,9780684837864,9780156030472]
x = data[data['isbn13'].isin(isbn13)][['title','authors','isbn13','isbn']]
x = x.rename(columns={'isbn':'isbn10'})
x['prefix13'] = 978
x['prefix10'] = [1,0,0]
x 
#x[['title','authors','isbn13','isbn']]

In [32]:
# Reshape wide to long using title as index and version as new name, and extracting isbn prefix 
isbn_long = pd.wide_to_long(golden_age, 
                    stubnames=['isbn'], 
                    i=['title'], 
                    j='version')

# Print isbn_long
isbn_long

,,authors,prefix10,prefix13,isbn
title,version,,,,
The Great Gatsby,13,F. Scott Fitzgerald,1,978,9780060098919
The Short Stories,13,Ernest Hemingway,0,978,9780684837864
To the Lighthouse,13,Virginia Woolf,0,978,9780156030472
The Great Gatsby,10,F. Scott Fitzgerald,1,978,1572702567
The Short Stories,10,Ernest Hemingway,0,978,684837862
To the Lighthouse,10,Virginia Woolf,0,978,156030470

In [35]:
# Reshape wide to long using title and authors as index and version as new name, and prefix as wide column prefix
prefix_long = pd.wide_to_long(golden_age, 
                      stubnames=['prefix'], 
                      i=['title', 'authors'], 
                      j='version')

# Print prefix_long
prefix_long

                                                   isbn10         isbn13  \
title             authors             version
The Great Gatsby  F. Scott Fitzgerald 13       1572702567  9780060098919
                                      10       1572702567  9780060098919
The Short Stories Ernest Hemingway    13        684837862  9780684837864
                                      10        684837862  9780684837864
To the Lighthouse Virginia Woolf      13        156030470  9780156030472
                                      10        156030470  9780156030472

                                               prefix
title             authors             version
The Great Gatsby  F. Scott Fitzgerald 13          978
                                      10            1
The Short Stories Ernest Hemingway    13          978
                                      10            0
To the Lighthouse Virginia Woolf      13          978
                                      10            0

In [36]:
# Reshape wide to long using title and authors as index and version as new name, and prefix and isbn as wide column prefixes
all_long = pd.wide_to_long(golden_age, 
                   stubnames=['prefix','isbn'] , 
                   i=['title', 'authors'],  
                   j='version')

# Print all_long
print(all_long)

                                               prefix           isbn
title             authors             version
The Great Gatsby  F. Scott Fitzgerald 13          978  9780060098919
                                      10            1     1572702567
The Short Stories Ernest Hemingway    13          978  9780684837864
                                      10            0      684837862
To the Lighthouse Virginia Woolf      13          978  9780156030472
                                      10            0      156030470

In [38]:
books_brown = pd.DataFrame({
    'title': ['The Da Vinci Code','Angels & Demons','La fortaleza digital'],
    'author': ['Dan Brown','Dan Brown','Dan Brown'],
    'language_code': [0,0,84],
    'language_name': ['english','english','english'],
    'publisher_code': [12,34,48],
    'publisher_name': ['Random House','Pocket Books','Umbriel']
})

,title,author,language_code,language_name,publisher_code,publisher_name
0,The Da Vinci Code,Dan Brown,0,english,12,Random House
1,Angels & Demons,Dan Brown,0,english,34,Pocket Books
2,La fortaleza digital,Dan Brown,84,english,48,Umbriel

In [136]:
# Alternate way to create data
title = ['The Da Vinci Code','Angels & Demons','La fortaleza digital']
y = data[data['title'].isin(title)][['title','authors','language_code','publisher']]
y = y.rename(columns={'publisher':'publisher_name','language_code':'language_name'})
y[['author','illustrator']] = y['authors'].str.split('/', expand=True)
y['language_code'] = [0,0,84]
y['publisher_code'] = [12,34,48]
y = y.drop(['authors','illustrator'], axis=1)
y.reset_index(inplace=True)
y

,index,title,language_name,publisher_name,author,language_code,publisher_code
0,311,The Da Vinci Code,eng,Broadway Books,Dan Brown,0,12
1,1229,The Da Vinci Code,eng,Anchor,Dan Brown,0,34
2,10080,La fortaleza digital,spa,Umbriel,Dan Brown,84,48

In [45]:
# Reshape using author and title as index, code as new name and getting the prefix language and publisher
the_code_long = pd.wide_to_long(books_brown, 
                                stubnames=['language','publisher'], 
                                i=['author','title'], 
                                j='code',
                                sep='_',
                                suffix="\\w+")

# Print the_code_long
the_code_long

                                    language     publisher
author    title                code
Dan Brown The Da Vinci Code    code        0            12
                               name  english  Random House
          Angels & Demons      code        0            34
                               name  english  Pocket Books
          La fortaleza digital code       84            48
                               name  english       Umbriel

In [46]:
books_hunger = pd.DataFrame({
    'title': ['TLos Juegos del Hambre','Catching Fire','Il canto della rivolta'],
    'language': ['Spanish','Englisg','Italian'],
    'publication date': ['5/25/2010','5/25/2012','6/8/2015'],
    'publication number': [2,6,4],
    'page number': [374,405,523]
})

books_hunger

,title,language,publication date,publication number,page number
0,TLos Juegos del Hambre,Spanish,5/25/2010,2,374
1,Catching Fire,Englisg,5/25/2012,6,405
2,Il canto della rivolta,Italian,6/8/2015,4,523

In [49]:
# Modify books_hunger by resetting the index without dropping it
books_hunger.reset_index(drop=False, inplace=True)

# Reshape using title and language as index, feature as new name, publication and page as prefix separated by space and ending in a word
publication_features = pd.wide_to_long(books_hunger, 
                                       stubnames=['publication', 'page'], 
                                       i=['title','language'],  
                                       j='feature', 
                                       sep= ' ', 
                                       suffix="\\w+")

# Print publication_features
publication_features

                                         index  level_0 publication   page
title                  language feature
TLos Juegos del Hambre Spanish  date         0        0   5/25/2010    NaN
                                number       0        0           2  374.0
Catching Fire          Englisg  date         1        1   5/25/2012    NaN
                                number       1        1           6  405.0
Il canto della rivolta Italian  date         2        2    6/8/2015    NaN
                                number       2        2           4  523.0

## String Concat and Split

In [65]:
books_dys = pd.DataFrame({
    'title': ['Fahrenheit 451-1953','1984-1949','Brave New World-1932'],
    'year': ['1953','1952','1978'],
    'num_pages  ': [374,405,523],
    'average_rating': [4.31,4.10,4.30],
    'ratings_count': [23676,246767,15787],
    
})

# Modify books_dys by resetting the index without dropping it
books_dys.set_index('title',inplace=True)

author_list = ['Ray Bradbury', 'George Orwell', 'Aldous Huxley']

In [63]:
# Split the index of books_dys by the hyphen 
#books_dys.index = str(books_dys['title']).split('-')
books_dys.index = books_dys.index.str.split('-')
books_dys

                         year  num_pages    average_rating  ratings_count
title
[Fahrenheit 451, 1953]   1953          374            4.31          23676
[1984, 1949]             1952          405            4.10         246767
[Brave New World, 1932]  1978          523            4.30          15787

In [66]:
# Get the first element after splitting the index of books_dys
books_dys.index = books_dys.index.str.split('-').str.get(0)

# Print books_dys
print(books_dys)

                 year  num_pages    average_rating  ratings_count
title
Fahrenheit 451   1953          374            4.31          23676
1984             1952          405            4.10         246767
Brave New World  1978          523            4.30          15787

In [67]:
# Split by the hyphen the index of books_dys
books_dys.index = books_dys.index.str.split('-').str.get(0)

# Concatenate the index with the list author_list separated by a hyphen
books_dys.index = books_dys.index.str.cat(author_list, sep='-')

# Print books_dys
print(books_dys)

                               year  num_pages    average_rating  \
title
Fahrenheit 451-Ray Bradbury    1953          374            4.31
1984-George Orwell             1952          405            4.10
Brave New World-Aldous Huxley  1978          523            4.30

                               ratings_count
title
Fahrenheit 451-Ray Bradbury            23676
1984-George Orwell                    246767
Brave New World-Aldous Huxley          15787

In [95]:
hp_books = pd.DataFrame({
    'title': ['Harry Potter','Harry Potter','Harry Potter','Harry Potter','Harry Potter','Harry Potter','Harry Potter'],
    'subtitle': ['the Half-Blood Prince','the Order of the Phoenix','the Chamber of Secrets','the Prisoner of Azkaban','The Deathly Hallows','the Sorcerer''s Stone','the Goblet of Fire'],
    'authors': ['J.K. Rowling/Mary GrandPré','J.K. Rowling/Mary GrandPré','J.K. Rowling','J.K. Rowling/Mary GrandPré','J.K. Rowling/Mary GrandPré','J.K. Rowling/Mary GrandPré','J.K. Rowling'],
    'goodreads': [4.57,4.34,4.57,4.12,4.78,4.87,4.17],
    'amazon': [4.57,4.34,4.57,4.12,4.78,4.87,4.17],
    
}) 

hp_books

,title,subtitle,authors,goodreads,amazon
0,Harry Potter,the Half-Blood Prince,J.K. Rowling/Mary GrandPré,4.57,4.57
1,Harry Potter,the Order of the Phoenix,J.K. Rowling/Mary GrandPré,4.34,4.34
2,Harry Potter,the Chamber of Secrets,J.K. Rowling,4.57,4.57
3,Harry Potter,the Prisoner of Azkaban,J.K. Rowling/Mary GrandPré,4.12,4.12
4,Harry Potter,The Deathly Hallows,J.K. Rowling/Mary GrandPré,4.78,4.78
5,Harry Potter,the Sorcerers Stone,J.K. Rowling/Mary GrandPré,4.87,4.87
6,Harry Potter,the Goblet of Fire,J.K. Rowling,4.17,4.17

In [71]:
# Concatenate the title and subtitle separated by "and" surrounded by spaces
hp_books['full_title'] = hp_books['title'].str.cat(hp_books['subtitle'], sep =' and ') 

# Print hp_books
print(hp_books)

          title                  subtitle                   authors    \
0  Harry Potter     the Half-Blood Prince  J.K. Rowling/Mary GrandPré
1  Harry Potter  the Order of the Phoenix  J.K. Rowling/Mary GrandPré
2  Harry Potter    the Chamber of Secrets                J.K. Rowling
3  Harry Potter   the Prisoner of Azkaban  J.K. Rowling/Mary GrandPré
4  Harry Potter       The Deathly Hallows  J.K. Rowling/Mary GrandPré
5  Harry Potter       the Sorcerers Stone  J.K. Rowling/Mary GrandPré
6  Harry Potter        the Goblet of Fire                J.K. Rowling

   goodreads    amazon                                 full_title
0         4.57    4.57     Harry Potter and the Half-Blood Prince
1         4.34    4.34  Harry Potter and the Order of the Phoenix
2         4.57    4.57    Harry Potter and the Chamber of Secrets
3         4.12    4.12   Harry Potter and the Prisoner of Azkaban
4         4.78    4.78       Harry Potter and The Deathly Hallows
5         4.87    4.87       Harry Potter and the Sorcerers Stone
6         4.17    4.17        Harry Potter and the Goblet of Fire

In [97]:
# Concatenate the title and subtitle separated by "and" surrounded by spaces
hp_books['full_title'] = hp_books['title'].str.cat(hp_books['subtitle'], sep =" and ") 

# Split the authors into writer and illustrator columns
hp_books[['writer', 'illustrator']] = hp_books['authors'].str.split('/', expand=True)
#hp_books
# Melt goodreads and amazon columns into a single column
hp_melt = hp_books.melt(id_vars=['full_title', 'writer'], 
                        var_name='source', 
                        value_vars=['goodreads', 'amazon'], 
                        value_name='rating')

# Print hp_melt
print(hp_melt)

                                   full_title        writer     source  rating
0      Harry Potter and the Half-Blood Prince  J.K. Rowling  goodreads    4.57
1   Harry Potter and the Order of the Phoenix  J.K. Rowling  goodreads    4.34
2     Harry Potter and the Chamber of Secrets  J.K. Rowling  goodreads    4.57
3    Harry Potter and the Prisoner of Azkaban  J.K. Rowling  goodreads    4.12
4        Harry Potter and The Deathly Hallows  J.K. Rowling  goodreads    4.78
5        Harry Potter and the Sorcerers Stone  J.K. Rowling  goodreads    4.87
6         Harry Potter and the Goblet of Fire  J.K. Rowling  goodreads    4.17
7      Harry Potter and the Half-Blood Prince  J.K. Rowling     amazon    4.57
8   Harry Potter and the Order of the Phoenix  J.K. Rowling     amazon    4.34
9     Harry Potter and the Chamber of Secrets  J.K. Rowling     amazon    4.57
10   Harry Potter and the Prisoner of Azkaban  J.K. Rowling     amazon    4.12
11       Harry Potter and The Deathly Hallows  J.K. Rowling     amazon    4.78
12       Harry Potter and the Sorcerers Stone  J.K. Rowling     amazon    4.87
13        Harry Potter and the Goblet of Fire  J.K. Rowling     amazon    4.17

In [108]:
books_sh = pd.DataFrame({
    'main_title': ['Sherlock Holmes: The Complete Novels','Sherlock Holmes: The Complete Novels','Adventures of Sherlock Holmes: Memoirs','Adventures of Sherlock Holmes: Memoirs'],
    'version': ['Vol I', 'Vol II', 'Vol I', 'Vol II'],
    'number_pages': [1059,709,334,238],
    'number_ratings': [24087,26794,2184,1884],
    
}) 

books_sh

,main_title,version,number_pages,number_ratings
0,Sherlock Holmes: The Complete Novels,Vol I,1059,24087
1,Sherlock Holmes: The Complete Novels,Vol II,709,26794
2,Adventures of Sherlock Holmes: Memoirs,Vol I,334,2184
3,Adventures of Sherlock Holmes: Memoirs,Vol II,238,1884

In [109]:
# Split main_title by a colon and assign it to two columns named title and subtitle 
books_sh[['title', 'subtitle']] = books_sh['main_title'].str.split(':', expand=True)

# Split version by a space and assign the second element to the column named volume 
books_sh['volume'] = books_sh['version'].str.split(' ').str.get(1)

# Drop the main_title and version columns modifying books_sh
books_sh.drop(['main_title', 'version'], axis=1, inplace=True)

# Reshape using title, subtitle and volume as index, name feature the new variable from columns starting with number, separated by undescore and ending in words 
sh_long = pd.wide_to_long(books_sh, stubnames='number', i=['title', 'subtitle', 'volume'], 
                  j='feature', sep='_', suffix="\\w+")

# Print books_sh
print(books_sh)

   number_pages  number_ratings                          title  \
0          1059           24087                Sherlock Holmes
1           709           26794                Sherlock Holmes
2           334            2184  Adventures of Sherlock Holmes
3           238            1884  Adventures of Sherlock Holmes

               subtitle volume
0   The Complete Novels      I
1   The Complete Novels     II
2               Memoirs      I
3               Memoirs     II