In [1]:
import pandas as pd

In [3]:
# import data
data = pd.read_csv('../data/churn-bigml-20.csv')
data.columns

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [34]:
# Create a new multi-level index using the new_index list and the appropriate pandas method. Name the levels state and city respectively.
# Predefined list to use as index

area_code = [408,415,510]
churn1 = data[data['Area code'].isin(area_code)][['Area code','Total day calls','Total day minutes','State']]

churn = pd.DataFrame({
    'Area code': [408,408,415,510],
    'Total day calls':[116,109,84,67],
    'Total day minutes': [204,287,84,67]
})

new_index = [['California', 'California', 'New York', 'Ohio'], 
             ['Los Angeles', 'San Francisco', 'New York', 'Cleveland']]

# Create a multi-level index using predefined new_index
churn_new = pd.MultiIndex.from_arrays(new_index, names=['state', 'city'])

# Assign the new index to the churn index
churn.index = churn_new

# Reshape by stacking churn DataFrame
churn_stack = churn.stack()

# Print churn_new
churn_stack

state       city
California  Los Angeles    Area code            408
                           Total day calls      116
                           Total day minutes    204
            San Francisco  Area code            408
                           Total day calls      109
                           Total day minutes    287
New York    New York       Area code            415
                           Total day calls       84
                           Total day minutes     84
Ohio        Cleveland      Area code            510
                           Total day calls       67
                           Total day minutes     67
dtype: int64

In [112]:
index = pd.MultiIndex.from_arrays([['California', 'California', 'New York', 'Ohio'],['Los Angles', 'Sanfraisco', 'New York', 'Cleveland']],names=['state', 'city'])
data = [[116,109,84,67],[204,287,84,59],[85,90,75,67],[107,167,90,110]]
columns = pd.MultiIndex.from_arrays([['night','night','day','day'],['total calls','total minutes','total calls','total minutes']])
churn1 = pd.DataFrame(data, index=index, columns=columns)
#churn1
# Reshape by stacking the second level
churn_stack = churn1.stack(future_stack=True)
churn_stack

                                     night  day
state      city
California Los Angles total calls      116   84
                      total minutes    109   67
           Sanfraisco total calls      204   84
                      total minutes    287   59
New York   New York   total calls       85   75
                      total minutes     90   67
Ohio       Cleveland  total calls      107   90
                      total minutes    167  110

In [82]:
index = pd.MultiIndex.from_arrays([['California', 'California', 'New York', 'Ohio'],['Los Angles', 'Sanfraisco', 'New York', 'Cleveland']],names=['state', 'city'])
data = [[20,40,50,100],[5,5,2,3],[30,100,20,40],[10,5,9,6]]
columns = pd.MultiIndex.from_arrays([['day','day','night','night'],['text message','total GB','text message','total GB']], names=['time','feature'])
churn2 = pd.DataFrame(data, index=index, columns=columns)
#churn2.reindex(['time','state'])

# Stack churn by the feature column level
churn_feature = churn2.stack(level=0, future_stack=True)

# Print churn_feature
print(churn_feature)

feature                      text message  total GB
state      city       time
California Los Angles day              20        40
                      night            50       100
           Sanfraisco day               5         5
                      night             2         3
New York   New York   day              30       100
                      night            20        40
Ohio       Cleveland  day              10         5
                      night             9         6

## Unstack

In [95]:
index = pd.MultiIndex.from_arrays([['day','day','night','night','eve','eve'],['International', 'National', 'International', 'National','International', 'National'],['churn','churn','churn','no churn','no churn','no churn']],names=['time', 'type','exited'])
#columns = pd.MultiIndex.from_arrays(['minutes','cakk','charge'], names=['time','feature'])
columns = ['minutes','calls','charge']
data = [[184.5, 97,31.37],[129.1,137,21.95],[332.9,67,56.59],[110.4,103,18.77],[119.3,117,20.28],[137.1,88,23.31]]

churn3 = pd.DataFrame(data, index=index, columns=columns)
churn3

                              minutes  calls  charge
time  type          exited
day   International churn       184.5     97   31.37
      National      churn       129.1    137   21.95
night International churn       332.9     67   56.59
      National      no churn    110.4    103   18.77
eve   International no churn    119.3    117   20.28
      National      no churn    137.1     88   23.31

In [90]:
# Reshape the churn DataFrame by unstacking
churn_unstack = churn3.unstack()

# Print churn_unstack
churn_unstack

                    minutes           calls          charge
exited                churn no churn  churn no churn  churn no churn
time  type
day   International   184.5      NaN   97.0      NaN  31.37      NaN
      National        129.1      NaN  137.0      NaN  21.95      NaN
eve   International     NaN    119.3    NaN    117.0    NaN    20.28
      National          NaN    137.1    NaN     88.0    NaN    23.31
night International   332.9      NaN   67.0      NaN  56.59      NaN
      National          NaN    110.4    NaN    103.0    NaN    18.77

In [94]:
# Reshape churn by unstacking the first row level
churn_first = churn3.unstack(level=0)

# Print churn_zero
print(churn_first)

                       minutes                calls               charge  \
time                       day    eve  night    day    eve  night    day
type          exited
International churn      184.5    NaN  332.9   97.0    NaN   67.0  31.37
              no churn     NaN  119.3    NaN    NaN  117.0    NaN    NaN
National      churn      129.1    NaN    NaN  137.0    NaN    NaN  21.95
              no churn     NaN  137.1  110.4    NaN   88.0  103.0    NaN


time                      eve  night
type          exited
International churn       NaN  56.59
              no churn  20.28    NaN
National      churn       NaN    NaN
              no churn  23.31  18.77

In [97]:
# Reshape churn by unstacking the second row level
churn_second = churn3.unstack(level=1)

# Print churn_second
print(churn_second)

                     minutes                  calls                 charge  \
type           International National International National International
time  exited
day   churn            184.5    129.1          97.0    137.0         31.37
eve   no churn         119.3    137.1         117.0     88.0         20.28
night churn            332.9      NaN          67.0      NaN         56.59
      no churn           NaN    110.4           NaN    103.0           NaN


type           National
time  exited
day   churn       21.95
eve   no churn    23.31
night churn         NaN
      no churn    18.77

In [107]:
index = pd.MultiIndex.from_arrays([['day','day','night','night','eve','eve'],['International', 'National', 'International', 'National','International', 'National'],['churn','churn','churn','no churn','no churn','no churn']],names=['time', 'type','exited'])
#columns = pd.MultiIndex.from_arrays(['minutes','cakk','charge'], names=['time','feature'])
columns = ['minutes','calls','charge']
data = [[184.5, 97,31.37],[129.1,137,21.95],[332.9,67,56.59],[110.4,103,18.77],[119.3,117,20.28],[137.1,88,23.31]]

churn4 = pd.DataFrame(data, index=index, columns=columns)
churn4

                              minutes  calls  charge
time  type          exited
day   International churn       184.5     97   31.37
      National      churn       129.1    137   21.95
night International churn       332.9     67   56.59
      National      no churn    110.4    103   18.77
eve   International no churn    119.3    117   20.28
      National      no churn    137.1     88   23.31

In [99]:
# Unstack the time level from churn
churn_time = churn4.unstack(level='time')

# Print churn_time
print(churn_time)

                       minutes                calls               charge  \
time                       day    eve  night    day    eve  night    day
type          exited
International churn      184.5    NaN  332.9   97.0    NaN   67.0  31.37
              no churn     NaN  119.3    NaN    NaN  117.0    NaN    NaN
National      churn      129.1    NaN    NaN  137.0    NaN    NaN  21.95
              no churn     NaN  137.1  110.4    NaN   88.0  103.0    NaN


time                      eve  night
type          exited
International churn       NaN  56.59
              no churn  20.28    NaN
National      churn       NaN    NaN
              no churn  23.31  18.77

In [101]:
# Sort the index in descending order
churn_time = churn4.unstack(level='time').sort_index(ascending=False)

# Print churn_time
print(churn_time)

                       minutes                calls               charge  \
time                       day    eve  night    day    eve  night    day
type          exited
National      no churn     NaN  137.1  110.4    NaN   88.0  103.0    NaN
              churn      129.1    NaN    NaN  137.0    NaN    NaN  21.95
International no churn     NaN  119.3    NaN    NaN  117.0    NaN    NaN
              churn      184.5    NaN  332.9   97.0    NaN   67.0  31.37


time                      eve  night
type          exited
National      no churn  23.31  18.77
              churn       NaN    NaN
International no churn  20.28    NaN
              churn       NaN  56.59

In [108]:
# Unstack churn by type level
churn_type = churn4.unstack(level='type')

# Stack the resulting DataFrame using the first column level
churn_final = churn_type.stack(level=0,future_stack=True)

# Print churn_type
print(churn_final)

type                    International  National
time  exited
day   churn    minutes         184.50    129.10
               calls            97.00    137.00
               charge           31.37     21.95
eve   no churn minutes         119.30    137.10
               calls           117.00     88.00
               charge           20.28     23.31
night churn    minutes         332.90       NaN
               calls            67.00       NaN
               charge           56.59       NaN
      no churn minutes            NaN    110.40
               calls              NaN    103.00
               charge             NaN     18.77

## Multiple Levels

In [133]:
index = pd.MultiIndex.from_arrays([['churn','no churn','churn','no churn'],['California','California','New York','New York'],['Los Angles','Los Angles','New York','New York']],names=['exited','state','city'])
columns = pd.MultiIndex.from_arrays([['2019','2019','2019','2020','2020','2020'],['minutes','voicemail','data','minutes','voicemail','data']], names=['year','plan'])
data = [[0,1,2,1,1,5],[0,1,3,1,0,2],[1,0,5,0,1,2],[1,0,4,1,0,6]]

churn5 = pd.DataFrame(data, index=index, columns=columns)
churn5

year                              2019                   2020
plan                           minutes voicemail data minutes voicemail data
exited   state      city
churn    California Los Angles       0         1    2       1         1    5
no churn California Los Angles       0         1    3       1         0    2
churn    New York   New York         1         0    5       0         1    2
no churn New York   New York         1         0    4       1         0    6

In [124]:
# Switch the first and third row index levels in churn
churn_swap = churn5.swaplevel(0, 2)

# Reshape by unstacking the last row level 
churn_unstack = churn_swap.unstack(level=2)

# Print churn_swap
print(churn_swap)

year                              2019                   2020
plan                           minutes voicemail data minutes voicemail data
city       state      exited
Los Angles California churn          0         1    2       1         1    5
                      no churn       0         1    3       1         0    2
New York   New York   churn          1         0    5       0         1    2
                      no churn       1         0    4       1         0    6

In [135]:
# Unstack the first and second row level of churn
churn_unstack = churn5.unstack(level=[0,1])

# Stack the resulting DataFrame using plan and year
churn_py = churn_unstack.stack(level=['plan', 'year'],future_stack=True)

# Switch the first and second column levels
churn_switch = churn_py.swaplevel(0, 1, axis=1)

# Print churn_unstack
print(churn_unstack)

year             2019                                                   \
plan          minutes                               voicemail
exited          churn            no churn               churn
state      California New York California New York California New York
city
Los Angles        0.0      NaN        0.0      NaN        1.0      NaN
New York          NaN      1.0        NaN      1.0        NaN      0.0

year                                                ...       2020           \
plan                                 data           ...    minutes
exited       no churn               churn           ...   no churn
state      California New York California New York  ... California New York
city                                                ...
Los Angles        1.0      NaN        2.0      NaN  ...        1.0      NaN
New York          NaN      0.0        NaN      5.0  ...        NaN      1.0

year                                                                    \
plan        voicemail                                    data
exited          churn            no churn               churn
state      California New York California New York California New York
city
Los Angles        1.0      NaN        0.0      NaN        5.0      NaN
New York          NaN      1.0        NaN      0.0        NaN      2.0

year
plan
exited       no churn
state      California New York
city
Los Angles        2.0      NaN
New York          NaN      6.0

[2 rows x 24 columns]

## Missing Value

In [158]:
index = pd.MultiIndex.from_arrays([['LA','LA','LA','NY','NY','NY','NY','NY','LA','LA','NY','LA'],['No','No','No','No','No','No','Yes','Yes','Yes','Yes','Yes','Yes'],['No','No','Yes','No','No','Yes','No','No','No','No','Yes','Yes'],[False,True,False,False,True,False,False,True,False,True,False,False]],names=['state','international_plan','voice_mail_plan','churn'])
columns = ['total_day_calls','total_night_calls']
data = [[106.818,96.909],[100.000,119.000],[100.000,84.250],[90.900,100.800],[95.000,101.500],[115.000,121.000],[109.000,99.000],[87.000,113.000],[78.000,90.000],[69.000,104.000],[120.000,78.000],[71.000, 101.000]]

churn6 = pd.DataFrame(data, index=index, columns=columns)
churn6

                                                total_day_calls  \
state international_plan voice_mail_plan churn
LA    No                 No              False          106.818
                                         True           100.000
                         Yes             False          100.000
NY    No                 No              False           90.900
                                         True            95.000
                         Yes             False          115.000
      Yes                No              False          109.000
                                         True            87.000
LA    Yes                No              False           78.000
                                         True            69.000
NY    Yes                Yes             False          120.000
LA    Yes                Yes             False           71.000

                                                total_night_calls
state international_plan voice_mail_plan churn
LA    No                 No              False             96.909
                                         True             119.000
                         Yes             False             84.250
NY    No                 No              False            100.800
                                         True             101.500
                         Yes             False            121.000
      Yes                No              False             99.000
                                         True             113.000
LA    Yes                No              False             90.000
                                         True             104.000
NY    Yes                Yes             False             78.000
LA    Yes                Yes             False            101.000

In [159]:
# Unstack churn level and fill missing values with zero
churn6 = churn6.unstack(level='churn', fill_value=0)

# Sort by descending voice mail plan and ascending international plan
churn_sorted = churn6.sort_index(level=['voice_mail_plan', 'international_plan'], 
                          ascending=[False, True])

# Print final DataFrame and observe pattern
print(churn_sorted)

                                         total_day_calls         \
churn                                              False  True
state international_plan voice_mail_plan
LA    No                 Yes                     100.000    0.0
NY    No                 Yes                     115.000    0.0
LA    Yes                Yes                      71.000    0.0
NY    Yes                Yes                     120.000    0.0
LA    No                 No                      106.818  100.0
NY    No                 No                       90.900   95.0
LA    Yes                No                       78.000   69.0
NY    Yes                No                      109.000   87.0

                                         total_night_calls
churn                                                False  True
state international_plan voice_mail_plan
LA    No                 Yes                        84.250    0.0
NY    No                 Yes                       121.000    0.0
LA    Yes                Yes                       101.000    0.0
NY    Yes                Yes                        78.000    0.0
LA    No                 No                         96.909  119.0
NY    No                 No                        100.800  101.5
LA    Yes                No                         90.000  104.0
NY    Yes                No                         99.000  113.0